# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

# Generated Images
output/
iso/
repository/
temp/
.DS_Store
QEMU_EFI.fd
cloud/seed.img
python-venv/
k3s.token
digitalocean/hcl/vars.auto.pkrvars.hcl
qemu/hcl/vars.auto.pkrvars.hcl
k3s-server.token
